#ios-image-modal .modal-header {
    border: none;
    padding: 0;
}

#ios-image-modal {
    background: rgba(0, 0, 0, 0.50);
}

    #ios-image-modal .modal-content {
        background-color: transparent;
    }

    #ios-image-modal .modal-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
    }

    #ios-image-modal .modal-header .btn {
        margin-left: auto;
        color: white;
        font-size: 28px;
    }

    #ios-image-modal .modal-footer {
        border-top: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: 'Montserrat-Medium';
        color: white;
        flex-direction: column;
    }
