<section id="bot-page">
    <div class="contribute-together">
        <div class="container-md px-0 px-md-3 container-fluid position-relative">
            <picture d-block="" w-100="">
                <!-- Ảnh cho màn hình nhỏ -->
                <source srcset="/image/thanks_lg.png" media="(max-width: 720px)">
                <!-- Ảnh cho màn hình lớn -->
                <source srcset="/image/thanks_lg.png" media="(max-width: 992px)">
                <source srcset="/image/thanks_lg.png" media="(min-width: 992px)">
                <!-- Ảnh mặc định -->
                <img loading="lazy" src="/image/thanks_lg.png" class="img-fluid custom-img" alt="Responsive image">
            </picture>

            <img loading="lazy" class="img_cloud_1" src="/image/cloud-1.png" alt="">
            <img loading="lazy" class="img_cloud_2" src="/image/cloud-1.png" alt="">
            <div class="position-absolute group_thanks text-center">
                <p class="thank_text text-start">
                    Cảm ơn bạn đã đồng hành cùng Greenmilk <br class="d-none d-md-block"> Trao
                    yêu thương đến các em bé vùng cao
                </p>
                <button class="btn btn_together m-auto m-md-0 mt-4" data-bs-toggle="modal" data-bs-target="#postcardModal" onclick="removeDisable()">
                    <img loading="lazy" src="/image/arrow_next.svg" alt="">
                    <span><b>CHUNG TAY "cùng em đến trường"</b></span>
                </button>
            </div>
        </div>
        <div id="footer" class="mt-0 mt-md-2">
            <div class="container">

                <div class="row justify-content-between flex-auto">
                    <div class="col-lg-6 col-12">
                        <div class="row justify-content-start align-items-center">
                            <div class="col-auto">
                                <img src="/image/logo/logo.png" width="100" loading="lazy" alt="">
                            </div>
                            <div class="col-auto">
                                <span class="f-f-Montserrat-Medium"><i>Bản quyền thuộc về Greenmilk</i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row mt-3">
                            <div class="col">
                                <p class="footer_title">Văn phòng Hà Nội</p>
                                <div class="d-flex align-items-start justify-content-start gap-3 mt-3">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <span>39 Kỳ Thuỷ, Bích Hoà, H.Thanh oai, TP.Hà nội</span>
                                </div>
                                <div class="d-flex align-items-start justify-content-start gap-3 mt-2">
                                    <i class="fa-solid fa-phone"></i>
                                    <span>(84 28) 3823 8638</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>