<section id="content">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col col-lg-7 d-lg-flex align-items-lg-center">
                <div class="paragraph">
                    <p class="you-know"><b>Bạn có biết?</b></p>
                    <p class="you-know-content">
                        “Theo số liệu thống kê của Bộ GD-ĐT, hằng năm có khoảng <b>300.000</b> trẻ em mẫu giáo chưa được huy động đến trường để tiếp cận Chương trình giáo dục mầm non. Nhiều trẻ em được tiếp cận giáo dục mầm non muộn so với độ tuổi, đặc biệt là trẻ em tại các vùng khó khăn. Đối với vùng khó khăn và đặc biệt khó khăn, còn <b>81%</b> trẻ nhà trẻ, <b>13,4%</b> trẻ mẫu giáo chưa được tiếp cận giáo dục mầm non
                    </p>
                    <img loading="lazy" src="/image/content/img.jpg" class="w-100 d-sm-none" alt="">
                    <img loading="lazy" src="/image/content/img.jpg" class="w-100 d-none d-sm-block d-lg-none" alt="">
                    <p class="you-know-content mt-3"> Tỷ lệ trẻ nhà trẻ đi học còn rất thấp (<b>28,2%</b>), mẫu giáo đạt <b>92,4%</b>; cả nước còn gần <b>8%</b> trẻ em mẫu giáo và <b>71,8%</b> trẻ nhà trẻ chưa được tiếp cận giáo dục. Chất lượng phổ cập giáo dục mầm non trẻ 5 tuổi ở nhiều nơi chưa được duy trì do tỷ lệ trẻ em mẫu giáo độ tuổi (3-4 tuổi) đi học còn thấp.</p>
                    <p class="you-know-content  mt-3">Trẻ em đồng bào dân tộc thiểu số vẫn gặp nhiều khó khăn trên hành trình tiếp cận với con chữ khiến cho tình trạng mù chữ trong trẻ vẫn chưa được xóa bỏ hoàn toàn. Theo thống kê, tình trạng trẻ em trong độ tuổi, nhưng không được đi học còn tồn tại ở tất cả các cấp học (tiểu học <b>3,1%</b>, THCS <b>18,4%</b>, THPT <b>53%</b>). Tỷ lệ người dân tộc thiểu số từ <b>15</b> tuổi trở lên biết đọc, biết viết chữ phổ thông chỉ đạt <b>80,9%</b>. Bên cạnh đó, cả nước có <b>19/53</b> dân tộc thiểu số có tỷ lệ trẻ em ngoài nhà trường trên <b>20%</b>, trong đó, dân tộc Brâu có tỷ lệ cao nhất (<b>35,4%</b>), tiếp đến là dân tộc Xtiêng (<b>35,3%</b>). Dân tộc Sán Dìu và Tày có tỷ lệ trẻ em ngoài nhà trường thấp nhất trong <b>53</b> dân tộc thiểu số, tương ứng là <b>3,7%</b> và <b>5,1%</b>. Riêng cấp tiểu học, cứ <b>100</b> em trong độ tuổi đi học cấp tiểu học, thì có khoảng <b>2</b> em không được đến trường. Trong đó, ở dân tộc Raglay là <b>3,1%</b>, Gia Rai <b>2,9%</b>, Kháng <b>1,9%</b>, Mông <b>0,1%</b>, Ngái <b>0,5%</b>, Chăm <b>0,4%</b>, Xtiêng <b>0,8%</b>...; tỷ lệ trẻ đi học tiểu học đúng tuổi đạt <b>96,9%</b>.</p>
                    <p class="you-know-content">Với mong muốn <b>“Chia sẻ yêu thương - Lan tỏa hạnh phúc"</b>,Green hi vọng được đồng hành cùng tất cả mọi người chung tay góp sức trong chiến dịch này, để các em cũng không bị tụt lại phía sau.</p>
                </div>
            </div>
            <div class="col-5 d-none d-lg-flex align-items-lg-center">
                <img loading="lazy" src="/image/content/img.jpg" class="w-100 h-100" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color:#E0F1ED">
        <div class="container d-flex align-items-center p-4">
            <div class="row">
                <div class="col">
                    <span class="f-f-Montserrat-Regular text-slide-image-note">
                        *Toàn bộ hình ảnh của các em bé vùng cao được sử
                        dụng trong dự án đã được nhãn hàng Greenmilk xin phép sử dụng với ba mẹ và người giám hộ của các
                        em.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>