<section id="map">
    <div id="map-content">
        <div class="position-relative" style="width: fit-content;">
            <img loading="lazy" src="/image/map.jpg" alt="">
            <div id="provinces" class="w-100 h-100 position-absolute start-0 top-0">
            </div>
        </div>
    </div>
</section>

