
@{
    ViewData["Title"] = "Admin | Home";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}

<!-- Page header -->
<div class="page-header page-header-light">

	<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
		<div class="d-flex">
			<div class="breadcrumb">
				<a href="/admin/home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
				<span class="breadcrumb-item active">Dashboard</span>
			</div>

			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>
	</div>
</div>
<!-- /page header -->
<!-- Content area -->
<!-- /content area -->
<!-- Footer -->
<!-- /footer -->

