@model List<HtmlContentDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
	int count = 1;
}

@section footer{
	<script>
		$("#select-cate").select2({
		});

		function clearSelectedOptions() {
			$('#select-cate').val(null).trigger('change');
			$("#ip-search").val("");
		}
		$(document).ready(function () {
			$("#btn-clear").on("click", clearSelectedOptions);
		});

		$(document).on('click', '.btnDelete', function (e) {
			e.preventDefault();
			var that = $(this).data('id');
			debugger;
			bootbox.confirm('Bạn có chắc muốn xoá nội dung này?', function (result) {
				if (result) {
					$.ajax({
						type: "POST",
						url: '/admin/htmlcontent/delete',
						data: { id: that },
						success: function (responce) {
							if (responce.status == true) {
								toastr.success("Success!");
							}
							else {
								toastr.error("Error!");
							}
							window.location.href = "/admin/htmlcontent";
						},
						error: function () {
						}
					});
				}
			});
		});

	</script>
}

<div class="page-header page-header-light">
	<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
		<div class="d-flex">
			<div class="breadcrumb">
				<a href="/admin/home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
				<span class="breadcrumb-item active">Nội dung chia sẻ</span>
			</div>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>
	</div>
</div>

<div class="content">
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Nội dung</h5>
			<div class="header-elements">
				@if(Model.Count < 1)
				{
					<a href="/admin/htmlcontent/create" type="button" class="btn btn-outline-primary" style="margin-right:20px">Thêm nội dung</a>
				}
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
					<a class="list-icons-item" data-action="remove"></a>
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table" style="table-layout: fixed;">
				<thead>
					<tr>
						<th width="5%">#</th>
						<th width="75%">Nội dung</th>
						<th width="10%">Thời gian tạo</th>
						<th width="10%">Hành động</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@count</td>
							<td>
								@Html.Raw(item.Content)
							</td>
							<td>
								@item.CreatedOn
							</td>
							<td class="text-center">
								<div class="list-icons">
									<div class="list-icons-item dropdown">
										<a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
										<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-164px, 16px, 0px);">
											<a href="/admin/htmlcontent/edit/@item.Id" class="dropdown-item"><i class="icon-file-stats"></i> Sửa</a>
											<a href="#" class="dropdown-item btnDelete" data-id="@item.Id"><i class="icon-file-text2"></i> Xoá</a>
										</div>
									</div>
								</div>
							</td>
						</tr>
						count++;
					}
				</tbody>
			</table>
			
		</div>
	</div>

</div>

